.sprite {
    background-image: url('/public/shared/icons/sprite.png');
    background-repeat: no-repeat;
    display: inline-block;
    background-size: auto 24px; /* если все иконки одной высоты */
}

.spriteIconHome {
    composes: sprite;
    background-position: 0 0;
    width: 24px;
    height: 24px;
}

.spriteIconUser {
    composes: sprite;
    background-position: -24px 0;
    width: 24px;
    height: 24px;
}

.spriteIconCart {
    composes: sprite;
    background-position: -48px 0;
    width: 24px;
    height: 24px;
}

.spriteIconSearch {
    composes: sprite;
    background-position: -72px 0;
    width: 24px;
    height: 24px;
}

/* Для разных размеров */
.sizeSmall {
    background-size: auto 16px;
    width: 16px;
    height: 16px;
}

.sizeLarge {
    background-size: auto 32px;
    width: 32px;
    height: 32px;
}