<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Остатки</title>
    <link rel="stylesheet" th:href="@{/reybo/web-app/styles/menu.css}">
</head>
<body>
<!--Левая часть-->
<div class="left-part-admin-app">
    <!--Меню выбора панели, панель рендерится с помощью ajax запросов, меню остается статичным-->
    <div th:replace="~{reybo/web-app/fragments/common :: div.menu-admin-panel}"></div>
</div>

<!--Правая часть -->
<div class="right-part-admin-app">
    <!-- По id panelContent реализованы ajax запросы для переключения панелей, подробнее в main.js-->
    <div id="panelContent">

        <div class="store-receipt-panel">

            <div class="header-panel-content-common">
                <div class="title-panel-common">
                    <h1>Поступления</h1>
                </div>
            </div>

            <div class="body-panel-content-common">

                <div class="body-panel-content-top-common">
                    <a href="/reybo/web-app/store/receipt/new" id="loadStoreReceiptNew" class="button-panel-common">Товар</a>

                    <div class="search-input-wrap-common">
                        <input class="search-input-panel-common" placeholder="Поиск..." type="text">
                    </div>

                    <div class="input-drop-down-list-filter-wrap-common">
                        <input class="input-dropdown-list-filter-common" placeholder="Фильтр поиска" type="text">
                    </div>
                </div>

                <div class="body-panel-content-down-common">
                    <table>
                        <thead>
                        <tr>
                            <td th:each="parameterName : ${parametersNames}" th:text="${parameterName}" class="parameter-name-container"></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${products}">
                            <td th:each="parameterValue : ${product.getParameters}" th:text="${parameterValue}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/reybo/web-app/scripts/main.js}"></script>
</body>
</html>