<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница управления заказами</title>
    <link rel="stylesheet" th:href="@{/reybo/web-app/styles/menu.css}">
    <link rel="stylesheet" th:href="@{/reybo/web-app/styles/store/remainder/remainder.css}">
</head>
<body>
    <div id="serviceOrderFormHtml"></div>
    <!--Левая часть-->
    <div class="left-part-admin-app">
        <!--Меню выбора панели, панель рендерится с помощью ajax запросов, меню остается статичным-->
        <div th:replace="~{reybo/web-app/fragments/common :: div.menu-admin-panel}"></div>
    </div>

    <!--Правая часть -->
    <div class="right-part-admin-app">
        <!-- По id panelContent реализованы ajax запросы для переключения панелей, подробнее в main.js-->
        <div id="panelContent">
            <div class="orders-panel">

                <div class="header-panel-content-common">
                    <div class="title-panel-common">
                        <h1>Заказы</h1>
                    </div>
                </div>

                <div class="body-panel-content-common">

                    <div class="body-panel-content-top-common">
                        <a id="loadOrdersNew" class="button-panel-common">Заказ</a>

                        <div class="search-input-wrap-common">
                            <input class="search-input-panel-common" placeholder="Поиск..." type="text">
                        </div>

                        <div class="input-drop-down-list-filter-wrap-common">
                            <input class="input-dropdown-list-filter-common" placeholder="Фильтр поиска" type="text">
                        </div>
                    </div>

                    <div class="body-panel-content-down-common">
                        <table>
                            <thead>
                                <tr>
                                    <td th:each="displayedParameter : ${displayedParameters}" th:text="${displayedParameter.value}" class="parameter-name-container"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="element : ${elements}">
                                    <td th:each="displayedParameterKey : ${displayedParametersKeySet}" th:text="${element.getParametersMap.get(displayedParameterKey)}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/reybo/web-app/scripts/main.js}"></script>
</body>
</html>