<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Восстановление доступа</title>
    <link rel="stylesheet" th:href="@{/shop/styles/css/login.css}">
    <link rel="stylesheet" th:href="@{/shop/styles/css/forgot.css}">
    <link rel="stylesheet" th:href="@{/shop/styles/css/common.css}">
    <!-- FAVICON DIV -->
    <div th:replace="fragments/favicon :: favicon"></div>
</head>
<body>

<body>
<div class="enter-form-container">
    <div th:replace="~{fragments :: div.enter-form-forgot}"></div>
</div>
</body>

</body>
</html>