<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="settings-menu">
    <div class="sub-item-group">
        <div class="title-of-sub-item-group">
            КОМПАНИЯ
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/company/general/company" id="loadSettingsGeneral" class="button-menu-sub-item">
                <span class="title-sub-item">Общие</span>
            </a>
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/company/locations" id="loadSettingsLocations" class="button-menu-sub-item">
                <span class="title-sub-item">Локации</span>
            </a>
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/company/employees/employees" id="loadSettingsEmployees" class="button-menu-sub-item">
                <span class="title-sub-item">Сотрудники</span>
            </a>
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/company/safety/all" id="loadSettingsSafety" class="button-menu-sub-item">
                <span class="title-sub-item">Безопасность</span>
            </a>
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/company/subscription" id="loadSettingsSubscription" class="button-menu-sub-item">
                <span class="title-sub-item">Подписка</span>
            </a>
        </div>
    </div>
    <div class="sub-item-group">
        <div class="title-of-sub-item-group">
            СИСТЕМА
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/system/prices" id="loadSettingsPrices" class="button-menu-sub-item">
                <span class="title-sub-item">Цены</span>
            </a>
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/system/statuses/statuses" id="loadSettingsStatuses" class="button-menu-sub-item">
                <span class="title-sub-item">Статусы</span>
            </a>
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/system/form-editor" id="loadSettingsFormEditor" class="button-menu-sub-item">
                <span class="title-sub-item">Редактор форм</span>
            </a>
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/system/template-editor" id="loadSettingsTemplateEditor" class="button-menu-sub-item">
                <span class="title-sub-item">Редактор шаблонов</span>
            </a>
        </div>
    </div>
    <div class="sub-item-group">
        <div class="title-of-sub-item-group">
            КОММУНИКАЦИЯ
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/communication/sms" id="loadSettingsSms" class="button-menu-sub-item">
                <span class="title-sub-item">SMS операторы</span>
            </a>
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/communication/notifications/employees" id="loadSettingsNotificationsEmployees" class="button-menu-sub-item">
                <span class="title-sub-item">Уведомления</span>
            </a>
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/communication/telephony" id="loadSettingsTelephony" class="button-menu-sub-item">
                <span class="title-sub-item">Телефония</span>
            </a>
        </div>
    </div>
    <div class="sub-item-group">
        <div class="title-of-sub-item-group">
            ИНТЕГРАЦИИ
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/integration/widget" id="loadSettingsWidget" class="button-menu-sub-item">
                <span class="title-sub-item">Виджет заказов</span>
            </a>
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/integration/api" id="loadSettingsApi" class="button-menu-sub-item">
                <span class="title-sub-item">Доступ к API</span>
            </a>
        </div>
        <div class="wrap-menu-sub-item settings-sub-item">
            <a href="/reybo/web-app/settings/integration/webhook" id="loadSettingsWebhook" class="button-menu-sub-item">
                <span class="title-sub-item">Webhook</span>
            </a>
        </div>
    </div>
</div>
</body>
</html>