<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="favicon">
    <!-- Базовый favicon -->
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/shop/header/media/favicon.png}">

    <!-- PNG favicons -->
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/shop/header/media/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/shop/header/media/favicon-16x16.png}">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/shop/header/media/apple-touch-icon.png}">

</head>
</html>