.sidebar__logo {
    display: flex;
    flex-direction: row;
}

.sidebar__logo img {
    margin-left: 3vw;
    margin-top: 0.75vw;
}

.sidebar__title {
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 1vw;
    text-align: center;
}

.sidebar__logo_container {
    display: flex;
    flex-direction: row;
}